/**
 * Copyright 2011 by Bearslug Games. All Rights Reserved.
 *
 * Battle of the Tiger Moms Interface Style Sheet
 */

/**
 * Color Map:
 *   #3b5998 Dark blue from Facebook used for link/anchor text.
 *   #fffacd Light yellow for background.
 *   #333 Almost black from Facebook for dark text
 *   #8eafd1 Medium blue for navbar, and hovering over links in subnavbar.
 *   #d8f0f0 Light green-blue for hovering over links in navbar.
 *   #5ca8b1 Teal green for drop-down menu.
 *   #c0d8d8 Baby blue for hovering over links in drop-down menu.
 *   #eceff6 Pretty light blue for subnavbar.
 *   #a7c942 Bright green for row with column names. 
 *   #8cc0fa Bright blue for event/item name and description backgrounds.
 *   #d2e4fc Another pretty light blue for alt rows in tables.
 *   #d6adff Strong lilac for selected rows in tables. 
 */

A:link,
A:visited {
  color: #3b5998;
}

h1,
h2 {
  font-family: Verdana, Helvetica, Arial, SunSans-Regular, sans-serif;
}

body {
  background-color: white;
  color: black;
  font: .9em "lucida grande", tahoma, verdana, arial, sans-serif;
  padding-left: 0;
}
 
/* Contains the app. */
#container {
  background: #fffacd;
  color: #333;
  margin: auto;
  padding: 10px;
  width: 760px; 
}

/* Contains the header. */
#topbar {
  overflow: auto; 
  width: 100%;
}

/* Form input approved. */
.object-ok {
  border: 1px solid green;
  color: #333;
}

/* Form input invalid. */
.object-error {
  border: 1px solid #ac3962;
  color: #333;
}

/* A pretty input box for forms. */
input {
  -moz-border-radius: 3px;
  border: 1px solid #999;
  border-left-color: #ccc;
  border-top-color: #ccc;
  color: #333;
  font-size: 13px;
  margin: 5 5 5 0;
  padding: 2px;
} 

/* A pretty select input for forms. */
select {
  -moz-border-radius: 3px;
  border: 1px solid #999;
  border-left-color: #ccc;
  border-top-color: #ccc;
  color: #333;
  font-size: 13px;
  margin: 5 5 5 0;
  padding: 2px;
}

/* ID card. */
/* Set the image to use and establish the lower-right position. */ 
.cssbox,
.cssbox-body,
.cssbox-head,
.cssbox-head h2 { 
  background: transparent url(i/img.php.png) no-repeat bottom right;
  opacity: .9;
}
 
.cssbox { 
  float: left;
  margin: 20px auto;
  /* The gap on the right edge of the image (not content padding). */ 
  padding-right: 15px; /* Use to position the box. */ 
  /* Intended total box width - padding-right(next). */ 
  position: absolute;
  top: 0;
  width: 335px !important; /* IE Win = width - padding */
  width: 320px; 
} 

/* Set the top-right image. */ 
.cssbox-head {
  background-position: top right; 
  /* Pull the right image over on top of border. */ 
  margin-right: -15px; 
  /* Right-image-gap + right-inside padding. */ 
  padding-right: 40px;
} 

/* Set the top-left image. */ 
.cssbox-head h2 { 
  background-position: top left; 
  border: 0; /* Ditto. */ 
  height: auto !important; 
  height: 1%;
  margin: 0; /* Reset main site styles. */ 
  /* padding-left = image gap + interior padding ... no padding-right */ 
  padding: 25px 0 15px 40px; 
} /* IE Holly Hack */ 

/* Set the lower-left corner image. */ 
.cssbox-body { 
  background-position: bottom left; 
  margin-right: 25px; /* interior-padding right */ 
  padding: 15px 0 15px 40px;
} /* mirror .cssbox-head right/left */ 

/* The main navbar. */
#nav,
#nav ul {
  background: #8eafd1;
  border: solid white;
  border-width: 1px 0;
  float: left;
  font-weight: bold;
  line-height: 1;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
  width: 100%;
}
#nav a {
  color: white;
  display: block;
  padding: 0.25em 2em;
  text-decoration: none;
  text-align:center;
  width: auto;
}
#nav li {
  float: left;
  padding: 0;
  width: auto;
}
#nav li ul {
  border-width: 0.25em;
  font-weight: bold;
  height: auto;
  left: -999em;
  margin: 0;
  position: absolute;
  w\idth: 11.25em;
}
#nav li li {
  background: #5ca8b1;
  padding-right: 1em;
}
#nav li li:hover {
  background: #d8f0f0;
  padding-right: 1em;
}
#nav li ul a {
  w\idth: 6.25em;
}
#nav li:hover ul {
  left: auto;
}
#nav li:hover {
  background: #c0d8d8;
}
#nav li a:hover {
  color: #333;
}

/* Subnavbar. */
#subnav,
#subnav ul {
  background: #eceff6;
  border: solid white;
  border-width: 1px 0;
  float: left;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
}
#subnav a {
  color: #333;
  display: block;
  padding: 0.25em 2em;
  text-align: center;
  text-decoration: none;
  width: auto;
}
#subnav li {
  float: left;
  padding: 0;
  width: auto;
}
#subnav li ul {
  border-width: 0.25em;
  font-weight: bold;
  height: auto;
  left: -999em;
  margin: 0;
  position: absolute;
  w\idth: 11.25em;
}
#subnav li:hover {
  background: #8eafd1;
}
#subnav li a:hover {
  color: #333;
}
#subnav li.selected {
  background: #8cc0fa;
}
 
/* Copyright info, etc. on bottom of page. */
address {
  border-top: thin dotted;
  font-size:.8em;
  margin-top: 1em;
  padding-top: 1em;
}

/* Table used for traits and schools. */
#traits {
  border-collapse: collapse;
  font: .9em Verdana, Helvetica, Arial, sans-serif;
  width: 100%;
}
#traits td,
#traits th {
  border: 0;
  font-size: 1em;
  padding: 15px 8px 2px 7px;
}
#traits th {
  background-color: #a7c942;
  color: white;
  font-size: 1.1em;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
}
#traits tr td {
  background-color: white;
  color: #333333;
}
#traits tr.alt td {
  background-color: #d2e4fc;
  color: #333;
}
#traits tr.selected td {
  background-color: #d6adff;
  color: #333;
}

/* Table used for events. */
#events {
  border: 1px solid #5ca8b1;
  border-collapse: collapse;
  font: .9em Verdana, Helvetica, Arial, sans-serif;
  width: 100%;
}
#events td,
#events th {
  border: 0;
  font-size: 1em;
  padding: 15px 8px 2px 7px;
}
#events th {
  background-color: #5ca8b1;
  color: white;
  font-size: .8em;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
}
#events tr.eventname td {
  background-color: #d8f0f0;
  color: #333;
  font-size: 1.3em;
  padding-top: 5px;
  padding-bottom: 4px;
} 
#events tr.eventdescription td {
  background-color: #d8f0f0;
  font-size: .8em;
  padding-top: 0;
  padding-bottom: 4px;
} 
#events tr td {
  background-color: white; 
  color: #333;
  padding-top: 0;
}

/* Tables used for items. */
#items {
  border: 1px solid #333;
  border-collapse: collapse;
  font: .9em Verdana, Helvetica, Arial, sans-serif;
  width: 80%;
}
#items td,
#items th {
  border: 0;
  font-size: 1em;
  padding: 15px 8px 2px 7px;
}
#items th {
  background-color: #8cc0fa;
  color: white;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
}
#items tr.itemname td {
  background-color: #d2e4fc;
  font-size: 1.2em;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-top: 8px;
} 
#items tr.itemdescription td {
  background-color: white;
  border: 1px solid #8cc0fa;
  border-radius: 8px 0;
  font-size: .8em;
  padding-top: 0;
  padding-bottom: 4px;
} 


#altitems {
  border: 1px solid #333;
  border-collapse: collapse;
  font: .9em Verdana, Helvetica, Arial, sans-serif;
  width: 80%;
}
#altitems td,
#altitems th {
  border: 0;
  font-size: 1em;
  padding: 15px 8px 2px 7px;
}
#altitems th {
  background-color: #5ca8b1;
  color: white;
  padding-top: 5px;
  padding-bottom: 4px;
  text-align: left;
}
#altitems tr.altitemname td {
  background-color: #d8f0f0;
  font-size: 1.2em;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-top: 8px;
} 
#altitems tr.altitemdescription td {
  background-color: white;
  border: 1px solid #5ca8b1;
  border-radius: 8px 0;
  font-size: .8em;
  padding-top: 0;
  padding-bottom: 4px;
} 
